* {
    font-family: "poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
}


nav {
    z-index: 3;
}

.nav-show {
    color: #191623;
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 25px !important;
    cursor: pointer;
    z-index: 100;
}

.nav-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
    cursor: pointer;
}

.nav-text {
    white-space: nowrap;
}

.nav-expand,
.nav-collapse {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: none !important;
    cursor: pointer;
}

.transparent {
    opacity: 0;
}

.nav-item i.fa {
    font-size: 30px;
}

.nav-link.active {
    color: #35F8FF !important;
}

.nav-part {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    z-index: 10000;
    transition-duration: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-hidden {
    transform: translateX(-105%);
    width: 70px;
}

.nav-min {
    transform: translateX(0%);
    width: 70px;
}

.nav-min .nav-text,
.nav-hidden .nav-text {
    display: none;
}

.nav-min .nav-expand {
    display: block !important;
}

.nav-max .nav-collapse {
    display: block !important;
}

.nav-max {
    transform: translatex(0);
    width: 250px;
}

.nav-max .nav-text {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
}

.nav-brand img {
    width: 45px;
}

.home {
    padding-top: 150px;
    padding-bottom: 120px;
}

.services-content,
.projects-content {
    height: 100%;
    background-color: #FFFFFF10;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition-duration: 0.4s;
}

.services-content i,
.projects-content i {
    font-size: 50px;
    margin-bottom: 15px;
}

.services-content:hover,
.projects-content:hover {
    transform: scale(1.03);
}

.anim-a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition-duration: 0.4s;
    z-index: -1;
}

.anim-b {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition-duration: 0.4s;
    z-index: -1;
}

#services,
#project {
    padding-top: 100px;
    padding-bottom: 100px;
}

.projects-content:hover .anim-a,
.projects-content:hover .anim-b {
    height: 100%;
}

.services-content:hover .anim-a,
.services-content:hover .anim-b {
    height: 100%;
}

.education-container {
    border-left: solid #35F8FF 2px;
    position: relative;
    padding-left: 35px;
}

.education-container hr {
    height: 2px;
    position: relative;
}

.education-container .circle {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    background-color: inherit;
    border-radius: 50%;
}

.skill-slot {
    margin-bottom: 20px;
    padding: 15px 30px;
    padding-bottom: 20px;
}

.skill-slot:hover {
    box-shadow: 0 0 5px #ccc;
    transition-duration: 0.3s;
}

.skill-slot h5 {
    margin-bottom: 25px;
}

.prog {
    width: 100%;
    height: 15px;
    background-color: #E9ECEF;
    border-radius: 5px;
    overflow: visible !important;
    position: relative;
}

.prog-bar {
    position: relative;
    width: 8%;
    overflow: visible !important;
}

.progress-pointer {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(60%, -30%);
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-20%, -30%);
    font-size: 13px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

.skill-icon img {
    max-height: 75%;
    max-width: 75%;
}

.social-icons i {
    font-size: 50px;
}

.social-icons .icn:hover {
    border-radius: 20px;
    cursor: pointer;
}

.social-icons .icn:hover i {
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.bg-img-1 {
    background-image: url(../images/pc.html);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    transition-duration: 1s;
}

.bg-img-2 {
    background-image: url(../images/me1.html);
    background-size: cover;
    background-position: top center;
    min-height: 400px;
    transition-duration: 1s;
}

.mode-switch {
    position: fixed;
    z-index: 10000;
    bottom: 10px;
    left: 10px;
    background-color: transparent !important;
    border-radius: 50%;
    cursor: pointer;
    border: none !important;
    display: none;
}

.mode-switch i {
    color: #ECFFF4;
    font-size: 30px;
}

.move-down,
.move-top {
    font-size: 50px !important;
    position: fixed;
    right: 40px;
    z-index: 100;
    color: var(--neg);
    animation: heartBeat 2.5s infinite;
    cursor: pointer;
}

.line {
    opacity: 0;
}

.quote-text {
    opacity: 0;
}

.programming-quote-skill {
    font-size: 30px;
}

.about-left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.nav-item {
    position: relative;
    transition-duration: 0.2s;
}

.nav-item hr {
    width: 0;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: 0.3s;
}

.nav-link.active~hr {
    transition-duration: 0.5s;
    width: 100%;
}